html{
    scroll-behavior: smooth;
}




body {
background-color: rgb(134, 13, 13);

}

.container {
max-width: 75rem;
min-height: 10rem;
margin: auto;
background-color: white;
padding: 1rem;
}


#pageheader {
background-color: rgb(82, 0, 0);
min-height: auto;
padding: .25rem;
}

#logo {
background-image: url(Images/Logo.png);
width: 6.25rem;
height: 6.25rem;
border: 1px solid none;
background-size: cover;
background-repeat: no-repeat;
}

#pageheader .container {
min-height: auto;
}
#pageheader nav{
    text-align: center;
    
}

#pageheader nav ul 
{
    background-color: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#pageheader nav ul li{
    border: 2px solid gold;
    padding: 1rem;
    margin: 2px;
    background-color: silver;
}

#pageheader nav ul li:hover{
    background-color: aliceblue;
}





#media {
background-color: lightblue;
min-height: 10rem;
padding: 1rem;
background-image: url(Images/logo.jpg);
background-size: cover;
aspect-ratio: 16 / 9;
background-repeat: contain;
background-repeat: no-repeat;
}

#career {
background-color: rgb(175, 14, 14);
min-height: 10rem;
padding: 1rem;
}

#pagecontent {
background-color: rgb(146, 13, 6);
min-height: 10rem;
padding: 1rem;
}
blockquote{
    background-color: none;
    padding: 1rem;
    width: 50%;
        margin: 0 auto;
        font-size: 1.25rem;
        font-weight: bold;
        color: steelblue;
}
blockquote + span
{
    background-color: none;
    padding: 1rem;
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: right;
    font-size: 1.25rem;
}

#semester1 {
background-color: rgb(0, 0, 0);
min-height: 10rem;
padding: 1rem;
}

#semester2 {
background-color: rgb(209, 191, 32);
min-height: 10rem;
padding: 1rem;
}

#pagefooter {
background-color: rgb(156, 33, 33);
min-height: auto;
padding: 1rem;
}


#aifooter{
    padding: 1rem;
    background-color: seagreen;
    min-height: auto;
}

#aifooter.container {
    min-height: auto;
text-align: center;}


#pagefooter .container{
    background-color: rgb(100, 15, 15);
    min-height: auto;
    text-align: center;
}

#subfooter {
background-color: rgb(99, 23, 23);
min-height: 10rem;
padding: 1rem;
text-align: center;
}

audio {
border: 5px solid rgb(0, 0, 0);
background-color: rgb(72, 10, 10);
display: block;
margin: auto;
}

@media screen and (min-width:600px) {
    #pageheader nav ul{
        margin-top: 2rem;
    }
    #pageheader nav ul li{
        display: inline-block;
    }
    
    #pagecontent {
        background-color: blue;
    }
}

@media screen and (min-width:1000px) {

    #pagecontent {background-color: yellow;}

}



            
